@media screen and (max-width: 1750px) {
  .hero{
    &-media{
      right: 125px;
      bottom: 70px;
      img{
        max-width: 650px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .hero{
    min-height: 700px;
    &-wrap{
      max-width: 560px;
    }
    &-media{
      right: 0;
      bottom: 170px;
      img{
        max-width: 550px;
      }
    }
    &-title{
      font-size: 56px;
      line-height: 1;
    }
    &-subtitle{
      font-size: 28px;
      line-height: 36px;
    }
    &-text{
      font-size: 16px;
      line-height: 28px;
    }
  }
  .about {
    .text-section{
      left: 0;
      padding-left: 20px;
    }
  }
  .title-section{
    font-size: 38px;
    line-height: 46px;
  }
  .text-section{
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1200px) {

  .about-item{
    &:nth-of-type(2) {
      padding: 15px;
      flex-direction: column;
    }
    &:nth-of-type(3) {
      grid-area: 2/2/3/4;
      padding: 15px;
      flex-direction: column;
      .about-item__media{
        max-height: 100px;
      }
    }
    &:nth-of-type(4){
      height: 100%;
    }
    &__desc{
      font-size: 16px;
      line-height: 20px;
    }
    &__media{
      max-width: 150px;
      margin-bottom: 10px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .reviews{
    &-info{
      max-width: 100%;
      margin-bottom: 30px;
    }
    &-inner{
      max-width: max-content;
      width: calc(100% + 30px);
    }
  }
  .contact{
    &-inner{
      flex-direction: column-reverse;
    }
    &-wrap{
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      margin: 0 -15px 0;
    }
    &-map{
      width: 100%;
      height: 350px;
    }
    &-item{
      width: calc(33.3333% - 30px);
      margin: 0 15px 30px;
    }
  }
  .header{
    &-nav{
      li{
        margin-right: 30px;
      }
    }
  }
  .footer{
    .container{
      flex-wrap: wrap;

    }
    &-nav{
      margin: 0 auto;
      width: calc(100% - 175px);
      li{
        margin-right: 20px;
      }
    }
    &-popup{
      margin: 20px auto 0 0;
    }
    &-social{
      margin: 20px 0 0 auto;
    }
  }
}
@media screen and (max-width: 992px) {
  .title-section{
    font-size: 32px;
    line-height: 36px;
  }
  .hero{
    height: auto;
    &-media{
      margin-top: 40px;
      position: relative;
      right: 0;
      bottom: 0;
      img{
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .about{
    padding: 100px 0;
    .top-section{
      flex-direction: column;
      align-items: flex-start;
    }
    .title-section{
      margin-bottom: 15px;
    }
    .text-section{
      padding-left: 0;
    }
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin: 0 -15px;
      .about-item{
        padding: 15px;
        margin: 0 15px 30px;
        width: calc(50% - 30px);
        height: 100%;
        min-height: 280px;
        .about-item__media{
          min-height: 150px;
          margin: 0 auto 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .about-item__desc{
          max-width: 300px;
          text-align: center;
        }
      }
    }
    &-item{
      &:nth-of-type(3){
        clip-path: none;
        .about-item__media{
          max-height: 160px;
        }
      }
    }
  }
  .service{
    &-item{
      width: calc(50% - 30px);
    }
  }
  .course{
    &-desc{
      ul {
        li{
          padding: 15px;
          font-size: 16px;
          margin: 0 10px 10px 0;
        }
      }
    }
    &-media{
      display: none;
    }
    &-desc{
      max-width: 100%;
    }
  }
  .reviews{
    &-info{
      &__item{
        padding: 15px 20px;
        &:last-of-type{
          padding: 15px 20px;
        }
      }
      &__title{
        font-size: 18px;
        line-height: 30px;
      }
    }
    &-inner{
      &__top{
        padding: 15px 20px;
        font-size: 18px;
        line-height: 30px;
      }
    }
    &-item{
      padding: 15px;
    }
  }
  .contact{
    &-wrap {
      flex-wrap: wrap;
    }
    &-item {
      width: calc(50% - 30px);
    }
  }
  .header{
        padding: 15px 0 17px;
        background: #fff;
        &-nav, &-popup, &-social{
          opacity: 0;
          visibility: hidden;
          z-index: -1;
        }
        &.scroll-nav{
          background: #fff;
          padding: 15px 0 17px;
        }
        &.active{
          height: 100vh;
          overflow: auto;
          .container{
            align-items: flex-start;
          }
          .header-nav, .header-popup, .header-social{
            opacity: 1;
            visibility: visible;
            z-index: 1;
          }
        }
        &-logo{
          width: 126px;
          height: 33px;
        }
        &-btn{
          display: block;
        }
        &-nav{
          background: #FFFFFF;
          position: absolute;
          top: 70px;
          width: 100%;
          //opacity: 0;
          //visibility: hidden;
          left: 0;
          ul{
            flex-direction: column;
          }
          li{
            text-align: left;
            width: 100%;
            margin-right: 0;
          }
          a{
            display: block;
            padding: 21px 11px;
            border-bottom: 1px solid rgba(214, 214, 224, 0.5);
          }
        }
        &-popup{
          position: absolute;
          bottom: 100px;
          width: auto;
          left: 0;
          padding: 20px 11px;
        }
        &-social{
          position: absolute;
          bottom: 0;
          visibility: hidden;
          z-index: -1;
          background: #fff;
          width: auto;
          padding: 20px 11px;
          a{
            width: 48px;
            height: 48px;
          }
        }
      }
}

@media screen and (max-width: 768px) {

  .hero{
    &-text{
      &:after{
        display: none;
      }
    }
  }
  .service{
    &-wrap{
      margin: 0 -10px;
      width: calc(100% + 20px);
    }
    &-item{
      padding: 15px 10px;
      margin: 0 10px 20px;
      width: calc(50% - 10px);
      &__media{
        width: 40px;
        height: 40px;
        img{
          width: 100%;
        }
      }
      &__title{
        font-size: 16px;
        line-height: 20px;
      }
      &__text{
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .about-wrap {
    margin: 0 -5px;
    .about-item {
      margin: 0 5px 15px;
      padding: 10px 5px;
      width: calc(50% - 10px);
      &:nth-child(3),
      &:nth-child(4){
        min-height: 250px;
      }
      .about-item__media{
        min-height: 100px;
        height: 120px;
        img{
          max-height: 80%;
          height: auto;
        }
      }
      .about-item__desc{
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .reviews{
    &-item{
      width: calc(50% - 30px);
    }
  }
  .contact{
    &-wrap{
      margin: 0;
    }
    &-item{
      width: 100%;
      margin: 0 0 15px;
    }
  }
  .footer{
    .container{
      position: relative;
    }
    &-nav{
      margin: 30px auto 0 0 ;
      width: calc(100% - 100px);
    }
    &-popup{
      position: absolute;
      top: 0;
      right: 15px;
      margin: 0;
    }
    &-social{
      margin: 30px 0 0 auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .footer{
    &-nav{
      margin: 30px auto 0 0 ;
      width: 100%;
      ul{
        flex-wrap: wrap;
      }
      li{
        width: 50%;
        margin: 0 0 10px;
      }
    }
    &-popup{}
    &-social{
      margin: 20px auto;
    }
  }
}
@media screen and (max-width: 440px) {
  .course{
    &-desc {
      ul {
        margin-right: -10px;
        img{
          width: 14px;
          margin-right: 5px;
        }
        li{
          font-size: 14px;
          width: calc(50% - 10px);
          padding: 10px 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .footer{
    &-popup{
      position: relative;
      right: 0;
      margin: 20px auto 0 0;
    }
    &-social{
      margin: 20px 0 0 auto;
    }
  }
  .course{
    &-desc {
      ul {
        margin-bottom: 20px;
        li{
          width: calc(100% - 10px);
        }
      }
    }
    .btn-primary{
      width: 100%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 315px) {
  .footer{
    &-popup{
      position: relative;
      right: 0;
      margin: 20px auto;
    }
    &-social{
      margin: 20px auto;
    }
  }
}